.container {
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.w100 {
  width: 100%;
}

.dFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.logoFamily {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fs32 {
  font-size: 32px;
}

.fs24 {
  font-size: 24px;
}

.fs18 {
  font-size: 18.66px;
}

.fs16 {
  font-size: 16px;
}

.fs14 {
  font-size: 14px;
}

.fs10 {
  font-size: 10.5px;
}

.clBrown {
  color: var(--brown);
}

.clOrange {
  color: var(--orange) !important;
}

.bgOrange {
  background-color: var(--orange);
}

.bgOrange:disabled {
  background-color: var(--orange-60);
}

.bgOrange20 {
  background-color: var(--orange-20);
}

.borderOrange {
  border-color: var(--orange) !important;
}

.borderGrayLighter {
  border-color: var(--grey-lighter) !important;
}

.clGreen {
  color: var(--green);
}

.bgGreen {
  background-color: var(--green-20);
}

.clGreyLight {
  color: var(--grey-light) !important;
}

.clGrey {
  color: var(--grey) !important;
}

.clGreyDark {
  color: var(--grey-dark) !important;
}

.clWhite {
  color: var(--white);
}

.bgWhite {
  background-color: var(--white);
}

.gap4 {
  gap: 4px;
}

.gap16 {
  gap: 16px;
}

.p16 {
  padding: 16px;
}
