:root {
  --orange: #f48c12;
  --orange-60: #f48c12a2;
  --orange-20: #f48c1233;
  --brown: #4d2600;
  --brown-60: #4d2600a2;
  --brown-20: #4d260033;
  --green: #00a650;
  --green-60: #00a650a2;
  --green-20: #00a65033;
  --grey-lighter: #f7f7f7;
  --grey-light: #818181;
  --grey: #666666;
  --grey-dark: #222222;
  --white: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}
